📁 1. Arquivo: 
Crie a pasta:

mkdir -p systemd

Depois crie o arquivo:

nano systemd/miner.service

Cole:

[Unit]
Description=Minerador SHA256d (cpuminer-multi)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=luiscard
WorkingDirectory=/home/luiscard

ExecStart=/home/luiscard/cpuminer-multi/cpuminer \
  --algo sha256d \
  --url stratum+tcp://public-pool.io:21496 \
  --user bc1qd95j6fk5sapalry4davrc8gjv8nqn3ygrj02xl.RPI3 \
  --pass x \
  --threads 4

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

Salve control X , confirme com Y e depois Enter.

OBS:
Esse arquivo está perfeito para:
• 	iniciar no boot
• 	reiniciar após travamento
• 	rodar com seu usuário
• 	minerar na pool configurad
